.image {
  width: 100%; /* Заполняет карточку по ширине */
  height: 450px; /* Фиксированная высота для всех изображений */
  border-radius: 8px;
  object-fit: fill;
  margin-bottom: -2px;
}

.title {
  margin: 10px 0;
  font-size: 1.2rem;
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center; /* Если нужно центрировать и по горизонтали */
}
